@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DMTP.REST.Models.Settings.SettingsDashboardModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h3>@Localizer["Header"]</h3>

<br />

@if (!string.IsNullOrEmpty(Model.ActionMessage))
{
    <div class="alert alert-primary">
        @Model.ActionMessage
    </div>
}

<form method="post" asp-controller="Settings" asp-action="AttemptUpdate" class="form-signin form">
    <input type="hidden" asp-for="@Model.Setting.ID" />

    <h5 class="text-white">@Localizer["SmtpSettingsHeader"]</h5>
    <div class="form-label-group">
        <label>@Localizer["HostNameLabel"]</label>
        <input class="form-control inputControl" type="text" asp-for="@Model.Setting.SMTPHostName" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["PortNumberLabel"]</label>
        <input class="form-control inputControl" type="text" maxlength="5" asp-for="@Model.Setting.SMTPPortNumber" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["UserNameLabel"]</label>
        <input class="form-control inputControl" type="text" asp-for="@Model.Setting.SMTPUsername" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["PasswordLabel"]</label>
        <input class="form-control inputControl" type="text" asp-for="@Model.Setting.SMTPPassword" required />
    </div>

    <br />

    <h5 class="text-white">@Localizer["MiscSettingsHeader"]</h5>

    <div class="form-label-group">
        <label asp-for="Setting.AllowNewUserCreation">@Localizer["AllowNewUserCreationLabel"]</label>
        <input class="form-control" type="checkbox" asp-for="@Model.Setting.AllowNewUserCreation" />
    </div>

    <div class="form-label-group">
        <label asp-for="GenerateNewRegistrationKey">@Localizer["Generate new Registration Key"]</label>
        <input class="form-control" type="checkbox" asp-for="@Model.GenerateNewRegistrationKey" />
    </div>

    <br />

    <input type="submit" value="@Localizer["UpdateSettingsButton"]" class="btn btn-lg btn-primary btn-block text-uppercase" />
</form>