@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DMTP.REST.Models.Roles.CreateUpdateRoleModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h3>@Localizer["Header"]</h3>

<form method="post" asp-controller="Roles" asp-action="AttemptUpdate" class="form-signin">
    <input type="hidden" asp-for="ID" />

    <div class="form-label-group">
        <label>@Localizer["NameLabel"]</label>
        <input class="form-control inputControl" type="text" asp-for="Name" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["PermissionsLabel"]</label>

        @foreach (var kvp in Model.Permissions)
        {
            <Label>@kvp.Key</Label>
            <select asp-for="@Model.Permissions[kvp.Key]" class="form-control inputControl" asp-items="Model.AccessLevels"></select>
        }
    </div>

    <input type="submit" value="@Localizer["UpdateButtonLabel"]" class="btn btn-lg btn-primary btn-block text-uppercase" />
</form>