@model DMTP.REST.Models.Setup.SetupModel

@{
    Layout = "~/Views/Shared/_LayoutUnauthenticated.cshtml";
}

<h3>Setup DMTP</h3>

@if (!string.IsNullOrEmpty(Model.ActionMessage))
{
    <div class="alert alert-primary">
        @Model.ActionMessage
    </div>
}

<form method="post" asp-controller="Setup" asp-action="AttemptSetup" class="form-signin form">
    <h5 class="text-white">Administrator Account</h5>
    <div class="form-label-group">
        <label>First Name</label>
        <input class="form-control" type="text" asp-for="@Model.FirstName" required />
    </div>

    <div class="form-label-group">
        <label>Last Name</label>
        <input class="form-control" type="text" asp-for="@Model.LastName" required />
    </div>

    <div class="form-label-group">
        <label>Email Address</label>
        <input class="form-control" type="text" asp-for="@Model.EmailAddress" required />
    </div>

    <div class="form-label-group">
        <label>Password</label>
        <input class="form-control" type="text" asp-for="@Model.Password" required />
    </div>

    <br />

    <h5 class="text-white">SMTP Settings</h5>
    <div class="form-label-group">
        <label>Host Name</label>
        <input class="form-control" type="text" asp-for="@Model.SMTPHostName" />
    </div>

    <div class="form-label-group">
        <label>Port Number</label>
        <input class="form-control" type="text" asp-for="@Model.SMTPPortNumber" />
    </div>

    <div class="form-label-group">
        <label>User Name</label>
        <input class="form-control" type="text" asp-for="@Model.SMTPUsername" />
    </div>

    <div class="form-label-group">
        <label>Password</label>
        <input class="form-control" type="password" asp-for="@Model.SMTPPassword" />
    </div>

    <br />

    <h5 class="text-white">Misc Settings</h5>

    <div class="form-label-group">
        <label asp-for="AllowUserCreation">Allow New User Creation</label>
        <input class="form-control" type="checkbox" asp-for="@Model.AllowUserCreation" />
    </div>

    <br />

    <input type="submit" value="Complete Setup" class="btn btn-lg btn-primary btn-block text-uppercase" />
</form>