@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model DMTP.REST.Models.Users.CreateEditUserModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h3>@Localizer["Header"]</h3>

<form method="post" asp-controller="Users" asp-action="AttemptUpdate" class="form-signin">
    <input type="hidden" asp-for="ID" />

    <div class="form-label-group">
        <label>@Localizer["FirstNameLabel"]</label>
        <input class="form-control" type="text" asp-for="FirstName" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["LastNameLabel"]</label>
        <input class="form-control" type="text" asp-for="LastName" required />
    </div>

    <div class="form-label-group">
        <label>@Localizer["RoleLabel"]</label>
        <select asp-for="SelectedRole" class="form-control" asp-items="Model.Roles"></select>
    </div>

    <input type="submit" value="@Localizer["UpdateButtonLabel"]" class="btn btn-lg btn-primary btn-block text-uppercase" />
</form>