@model DMTP.REST.Models.Users.UserDashboardModel

@if (!string.IsNullOrEmpty(Model.ActionMessage))
{
    <div class="alert alert-primary">
        @Model.ActionMessage
    </div>
}

<h3>Users</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Email Address</th>
            <th scope="col">Name</th>
            <th scope="col">Last Login</th>
            <th scope="col">Jobs Submitted</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersListing)
        {
            <tr>
                <th scope="row">@user.EmailAddress</th>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.LastLogin</td>
                <td>@user.NumJobs</td>
                <td>
                    <a href="Edit?id=@user.ID" class="text-center fa fa-pencil-square-o" title="Edit User"></a>

                    @if (User.Identity.Name != @user.ID.ToString())
                    {
                        <a href="SendWelcome?id=@user.ID" class="text-center fa fa-envelope-o" title="Send Signup Email"></a>

                        <a asp-action="DeleteUser" asp-route-id="@user.ID" class="text-center fas fa-trash" title="Delete User"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>User Logins</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Email Address</th>
            <th scope="col">Timestamp</th>
            <th scope="col">IP Address</th>
            <th scope="col">Successful</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var login in Model.UserLoginListing)
        {
            <tr>
                <th scope="row">@login.Username</th>
                <td>@login.Timestamp</td>
                <td>@login.IPAddress</td>
                <td>@login.Successful</td>
            </tr>
        }
    </tbody>
</table>