@model DMTP.REST.Models.UserListingModel

<h3>Users</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Last Login</th>
            <th scope="col">Jobs Submitted</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersListing)
        {
            <tr>
                <th scope="row">@user.Username</th>
                <td>@DateTime.Now</td>
                <td>0</td>
                <td>
                    <a href="Edit?id=@user.ID" class="text-center fa fa-pencil-square-o" title="Edit User"></a>
                    <a href="SendWelcome?id=@user.ID" class="text-center fa fa-envelope-o" title="Send Signup Email"></a>
                    <a href="Delete?id=@user.ID" class="text-center fas fa-trash" title="Delete User"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>User Logins</h3>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Timestamp</th>
            <th scope="col">IP Address</th>
            <th scope="col">Successful</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var login in Model.UserLoginListing)
        {
            <tr>
                <th scope="row">@login.Username</th>
                <td>@login.Timestamp</td>
                <td>@login.IPAddress</td>
                <td>@login.Successful</td>
            </tr>
        }
    </tbody>
</table>